import {{component}} from '@components/{{component}}';

const {{pascalCase name}}: React.FC = () => 
   (
      <div className='container mx-auto'>
        <{{component}} />
      </div>
  );


export default {{pascalCase name}};

